/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Clase personalizada para el botón primario */
.btn-custom-primary {
  @apply btn w-80 h-14 px-4 py-3.5 bg-gray-700 text-white border border-gray-700 rounded-lg flex justify-center items-center gap-2;
}

.fill-current {
  fill: currentColor;
}
.border-gradient {
  border: 4px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(
    90deg,
    #004E79 85%,
    #002279 85%,
    #6F0079 85%,
    #A9257C 85%
  );
}

body, #root {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Alinea al inicio verticalmente */
  height: 100vh;
  margin: 0;
  width: 100%;
}
